body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font: normal small Arial, Helvetica, sans-serif;
	color: #444444;
	text-align: left;
}

h1 {
	color: #FF8800;
	font-size: 24px;
	font-weight: normal;
	font-family: Comic Sans MS, Georgia, "Times New Roman", Times, serif;
	margin: 0 0 10px;
	padding: 0;
}

/*
h1{
	font-size: 20px;
	line-height: 28px;
}
*/

h2, h3 {
	color:#FF8800;
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

h2 {
	font-size: 20px; 
	color: #0099CC;
	font-family: Jokerman, Comic Sans MS, Georgia, "Times New Roman", Times, serif;
	padding-top: 20px;
	padding-bottom: 8px;
	border-bottom: 1px solid #CCCCCC;
/*	font-size: 2em; */
}

a {
	color: #3366AA;
}

a:hover {
	text-decoration: none;
	color: #00AAFF;
}

.note {
	font-weight: bold;
}

#footer h3{
	font-weight: bold;
}

/* Menu */

#menu {
	width: 710px;
	height: 62px;
	margin: 0 auto 2em;
	/* margin: 0 auto; */
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 140px;
	height: 41px;
	margin-left: 2px;
	padding-top: 10px;
	border-top-width: 10px;
	border-top-style: solid;
	text-align: center;
	text-decoration: none;
	letter-spacing: -1px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
}

#menu .first a {
	margin: 0;
}

#menu1 { background: url(/images/img01.gif) no-repeat center bottom; border-color: #F07242; color: #C4856D; }
#menu2 { background: url(/images/img02.gif) no-repeat center bottom; border-color: #FCEE0F; color: #C0B94A; }
#menu3 { background: url(/images/img03.gif) no-repeat center bottom; border-color: #549EE9; color: #799EC3; }
#menu4 { background: url(/images/img04.gif) no-repeat center bottom; border-color: #9EBF54; color: #94A46F; }
#menu5 { background: url(/images/img05.gif) no-repeat center bottom; border-color: #9F8DF6; color: #B0A7DB; }

#menu a:hover {
	color: #000000;
}

/* Logo */

#logo {
	width: 706px;
	height: 170px;
	margin: 0 auto;
	padding: 0 0 0 0;
	background: url(/images/header_logo.jpg) no-repeat;
	border: 0px dashed red;
	border-top: 5px solid #99bbDD ;
}

#logo h1, #logo h2 {
	font-size: 2em;
	float: left;
	text-transform: lowercase;
	letter-spacing: -1px;
	font-size: 1.8em;
	font-weight: normal;
}

#logo h1 {
	padding: 0 0 0 10px;
}

#logo h1 a {
	color: #3399CC;
}

#logo h2 {
	margin: 0 0 0 15px;
	padding: 0 0 0 15px;
	border-left: 1px solid #8E68A5;
}

#logo h2 a {
	color: #AE96C0;
}

#logo a {
	text-decoration: none;
}

#pa_logo {
	padding-left: 10px;
}

/* Content */

#content {
	width: 706px;
	margin: 0 auto;
	border-top: 1px solid #FFFFFF;
	line-height: 1.9em;
	text-align: center;
}

#colA {
	float: right;
	width: 700px;
	padding: 0 30px 0 0;
}

#colB {
	float: left;
	width: 220px;
}

/* BoxedA */

.boxedA {
}

.boxedA h2 {
	height: 35px;
	padding-top: 25px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 2em;
}

.boxedA h3 {
	font-size: 1em;
	font-weight: bold;
}

.boxedA p {
	line-height: 2em;
	text-align: justify;
}

.boxedA .more {
	text-align: right;
}

.boxedA .more a {
	padding: 0 1em;
	background: #CCCCCC;
	border-left: 4px solid #777777;
	text-decoration: none;
}

.boxedA .more a:hover {
	background: #666666;
	color: #FFFFFF
}

/* BoxedB */

.boxedB {
	margin-bottom: 1px;
	background: #FAD4C6 url(/images/img07.gif) repeat-y;
	border-bottom: 1px solid #F07242;
}

.boxedB h2 {
	height: 35px;
	padding: 25px 0 0 21px;
	border-bottom: 1px solid #FFFFFF;
	letter-spacing: -1px;
	font-size: 24px;
	font-weight: normal;
	color: #F07242;
}

.boxedB ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.boxedB li {
	display: inline;
}

.boxedB a {
	display: block;
	width: 199px;
	height: 23px;
	padding: 7px 0 0 21px;
	background: #FDF1EC url(/images/img08.gif) no-repeat;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: none;
	color: #F07242;
}

.boxedB a:hover {
	background: #F7B8A0 url(/images/img09.gif) no-repeat;
	color: #FFFFFF;
}

/* BoxedC */

.boxedC {
	margin-bottom: 1px;
	background: #CBE2F8 url(/images/img11.gif) repeat-y;
	border-bottom: 1px solid #549EE9;
}

.boxedC h2 {
	height: 35px;
	padding: 25px 0 0 21px;
	border-bottom: 1px solid #FFFFFF;
	letter-spacing: -1px;
	font-size: 24px;
	font-weight: normal;
	color: #549EE9;
}

.boxedC ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.boxedC li {
	display: inline;
}

.boxedC a {
	display: block;
	width: 199px;
	height: 23px;
	padding: 7px 0 0 21px;
	background: #EEF5FD url(/images/img12.gif) no-repeat;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: none;
	color: #549EE9;
}

.boxedC a:hover {
	background: #A9CEF4 url(/images/img13.gif) no-repeat;
	color: #FFFFFF;
}

/* News */

#news h1{
height: 35px;
	padding-top: 25px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 2em;
}

#news h2 {
	font-size: 22px;
}

#news ul {
	list-style-type: square;
}

#packages-table
{
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Sarif;
	font-size: 12px;
	text-align: left;
	margin: 0 auto 15px;
}

#packages-table th {
	color: #003399;
	background: none repeat scroll 0 0 #B9C9FE;
	border-bottom: 1px solid #FFFFFF;
	border-top: 4px solid #AABCFE;
	font-size: 14px;
	font-weight: normal;
	padding: 8px;
}

#packages-table .num {
	color: #FF8800;
	font-size: 18px;
	background: #FFFFFF;
	border: transparent;
	padding-left: 10px;
}

#packages-table td {
	color: #666699;
	background: none repeat scroll 0 0 #E8EDFF;
	border-bottom: 1px solid #AABCFE;
	border-top: 1px solid transparent;
	padding: 8px;
}

/*
#packages-table tr:hover td {
	background:none repeat scroll 0 0 #D0DAFD;
	color:#333399;
}
*/

#slideshow {
	float: right;
}

/* Footer */

#footer {
	clear: both;
	width: 704px;
	margin: 0 auto;
	border-top: 5px solid #aaaaaa;
	background: #ffffff;
}

#footerContent{
	float: center;
}

#footerContent h2, h4{
	line-height: 14px;
}

#footer p {
	margin: 0;
	padding: 30px 0;
	text-align: center;
	font-size: smaller;
	color: #999999;
}

#footer a {
	color: #999999;
}