<h1>Contact Us</h1>
<p>Do yourself a Party Favor and let PARTY ANIMALS create an unforgettable memory to last a lifetime!</p>
<p>Get a Quote:</p>
<p>
Let us know how to contact you and answer the following questions:
- What city are you located in?
- What Date and Time are you interested in?
- Which character(s) would you like?
</p>
<p>Note: We're happy to email more pictures of any characters not shown on the site, so don't hesitate to ask</p>
<p>
San Diego, CA
(858) 279-2908  or  (760) 744-4229
PartyAnimals4Kids@yahoo.com
</p>
<p>
Tucson, AZ
(520) 327-1299
PartyAnimalsTucson@gmail.com
</p>
<p>
Phoenix, AZ
866.937.1299
PartyAnimalsPhoenix@gmail.com
</p>
<h3>Special Offers & Discounts:</h3>
<p>For Party Animals customers only!! Click on boxes below for special discounts on matching themed paper goods, hats, decorations and party favors from Birthday in a Box:</p>