<div class="span-17">
	<div class="span-13">
		<h1>We specialize in kid's birthday parties</h1>
		<h2><%= link_to "Book a party", contact_path, :class => "book_party_button round" %> today with San Diego's premier party characters and costume rentals provider</h2>
		<p>We provide themed games, face-painting, balloon animals, and more for kids of all ages.  Choose from over 70 different cartoon characters, super heroes, princess', clowns, and holiday characters. See our complete list of <%= link_to "characters", characters_path %></p>
	</div>
	<div class "span-4 last">
		<%= image_tag("spongeguy&friend.jpg") %>
	</div>
</div>
<div class="span-17">
		<h3>We are locally owned and operated</h3>
</div>
<hr class="space"/>
