<h1>Make your Party Unforgettable</h1>
<h2>Its fun and easy</h2>
<p>Imagine your child's favorite fantasy character hosting your next party by providing themed games, music and entertainment.</p>
<p>Party Animals provides complete party packages especially designed and developed for kids of all ages, great for birthdays or events of all occasions.
We have over 50 different cartoon characters, tv show favorites, super-heros, princess', clowns, the Easter Bunny, Santa, and more!<p> 
<p>See our complete list <%= link_to "characters", '#' %></p>
<p>Look-a-like Characters:</p>
<p>
Barbie
Bear in Bluehouse
Blue's Clues
Carebear
Clifford
Cookie Monster
Dalmations
Darth Vader
Dora
Dragon Tales
Elmo
Foofa of Yo Gabba Gabba
Glenda the Good Witch
Hawaiian Girl
Hello Kitty
High School Musical Karaoke
Honey Bear
Iron Man
Loonette
Mermaid
Military Man
Ninja Turtle
Pirate
Fairy Princess
Pokemon
Power Puff
Power Rangers
Purple Dinosaur
Rugrats
Snoopy
Spider-Hero
Spongebob
Storybook Princesses
Strawberry Shortcake
Teletubbies
Toy Astronaut
Toy Cowboy
Wizard
Holiday Characters
Santa
Elves
Easter Bunny
Leprechauns
Dracula
Witches
Pumpkins</p>
<p> Ask about our special holiday rates!</p>
<p>Look-a-like Characters are not officially licensed.</p>

<p>Contact us today to reserve your child's favorite character</p>
<%= link_to "Contact Us", '#', :class => "signup_button round" %>