<div class="span-17">
	<div class="span-13">
		<caption>Parties may be subject to an additional travel fee depending on party location</caption>
	</div>
	<div class="span-4 last">
		<h1><%= link_to "Book a party", contact_path, :class => "book_party_button round" %></h1>
	</div>
	<hr class="space" />
	<div class="span-17">
		<h1>San Diego Kid's Party Animals Character Packages</h1>		
		<table>
			<tr>
				<th width="15%">Package #</th>
				<th width="15%">Time</th>
				<th width="50%">Description</th>
				<th width="20%">Price 1 or 2 <br /> characters</th>
			</tr>
			<tr>
				<td>1</td>
				<td>1/2 hour</td>
				<td>Your character of choice, hand-stamping, themed coloring sheets, a "Happy Birthday" song-a-long, and a personalized, hand-painted picture frame for the birthday kid</td>
				<td>$85 | $160</td>
			</tr>
			<tr>
				<td>2</td>
				<td>1 hour</td>
				<td>Your character of choice, hand-stamping, themed coloring sheets, a "Happy Birthday" song-a-long, a personalized, hand-painted picture frame for the birthday kid, age appropriate games, parachute, mini obstacle course, and face-painting</td>
				<td>$155 | $285</td>
			</tr>
			<tr>
				<td>3</td>
				<td>1 1/2 hour</td>
				<td>Your character of choice, hand-stamping, themed coloring sheets, a "Happy Birthday" song-a-long, a personalized, hand-painted picture frame for the birthday kid, age appropriate games, parachute, mini obstacle course, face-painting, and balloon animals</td>
				<td>$190 | $355</td>
			</tr>
			<tr>
				<td>4</td>
				<td>2 hour</td>
				<td>extended version of #3, you get it all! Great for large parties or older kids</td>
				<td>$215 | $405</td>
			</tr>
		</table>		
		<hr />
		
		<h1>Clown Packages</h1>
		<table>
			<tr>
				<th>Package #</th>
				<th>Time</th>
				<th>Price</th>
			</tr>
			<tr>
				<td>1</td>
				<td>1 hour</td>
				<td>$135</td>
			</tr>
			<tr>
				<td>2</td>
				<td>1 1/2 hour</td>
				<td>$160</td>
			</tr>
			<tr>
				<td>3</td>
				<td>2 hour</td>
				<td>$185</td>
			</tr>
		</table>
		<hr />
		
		<h1>Corporate Events and Walk-Around Character Packages</h1>
		<table>
			<tr>
				<th>Package #</th>
				<th>Time</th>
				<th>Price (per character)<th>
			</tr>
			<tr>
				<td>1</td>
				<td>2 hours</td>
				<td></td>
			</tr>
			<tr>
				<td>2</td>
				<td>each additional hour</td>
				<td></td>
			</tr>
		</table>
		<hr />
		
		<h1>Specialty Party Packages</h1>
		<h2>Karaoke Parties</h2>
		<div class="box">
			<p><strong>Characters:</strong> Hannah Montana, American Idol, High School Musical</p>
			<p><strong>Description:</strong> Sing-a-long, lip-sync, freeze dancing, limbo and other age appropriate themed games. Face painting and balloon animal also available upon request</p>
		</div>
		<h2>Glamour Make-up Parties</h2>
		<div class="box">
			<p><strong>Characters:</strong> Glamour Girl</p>
			<p><strong>Description:</strong> Make-up, age appropriate themed games and balloon animals</p>
		</div>
		<h2>Face Painting Parties</h2>
		<div class="box">
			<p><strong>Characters:</strong> </p>
			<p><strong>Description:</strong> Ideal for birthdays, weddings, Bat/Bar Mitzvahs, company picnics, and school events. See the wonder in your child's face when they become their fantasy. They can be anything from a superhero to a ferocious lion to a friendly dog or a beautiful princess. Our face paints contain no harmful ingredients or chemical additives and are FDA approved. They wash off easily with soap and water. Glitter is used where appropriate</p>
		</div>
		<h2>Seasonal Themed Parties</h2>
		<div class="box">
			<p><strong>Characters:</strong> Easter Bunny, Santa and Elves and more!</p>
			<p><strong>Description:</strong> </p>
		</div>
		<h2>Summer Pool Parties</h2>
		<div class="box">
			<p><strong>Characters:</strong> </p>
			<p><strong>Description:</strong> Age appropriate pool games, water relays, noodle games, duck diving, paddle games, etc., plus balloon animals</p>
		</div>	
	</div>
</div>

<hr class="space"/>