<h1>Party Packages</h1>
<h2>PARTY ANIMALS provides a complete party package especially designed and developed for kids of all ages.</h2>
<h3>Character Parties:</h3>
<p>
#1 $85.00 1/2 Hour: character appearance
#2 $155.00 1 Hour: character, activities, and face painting
#3 $190.00 1 1/2 Hour: character, activities, face painting and balloon twisting
#4 $215.00 2 Hour: character, extended version of package #3. You get it all!!
</p>
<h3>Clown Parties:</h3>
<p>Face painting, balloon twisting, circus themed activities and games.</p>
<p>
#1 $135.00 1 Hour
#2 $160.00 1 1/2 Hour
#3 $185.00 2 Hour
</p>
<p>Corporate Events and Walk around characters: call for special rates.</p>
<h3>SPECIALTY PARTIES</h3>
<p>
Hannah Montana / High School Musical / American Idol Karaoke Parties Full Face Painting Parties
Glamour Make Up Parties
Summer Pool Parties
Seasonal Themed Parties
</p>
<p> 
Package#1
$85.00 ~ 1/2hour party

Your character of choice Hand-stamping Themed coloring sheets Sings"Happy Birthday" song Special gift: a personalized, hand painted, themed picture frame with birthday child's name

Awonderful memory for the whole party!

[This Package with your choice
of 2 Characters: $160.00]
	
Package#2
$155.00 ~ 1 hour party

Extended version of our fabulous 1/2 hour party. Also including:

    Age appropriate party games, parachute, mini obstacle course, etc. Basic face painting

    A sure hit with kids
    and parents alike!

    [This Package with your choice
    of 2 Characters: $285.00]

Package#3
$190.00 ~ 1 1/2 hour party

Extended version of our exciting 1 hour party. Also including:
Basic balloon animals

Our most popular Package!

[This Package with your choice
of 2 Characters: $355.00]
	
Package#4
$215.00 ~ 2 hour party

Extended version of our thrilling 1 1/2 hour party.

Larger parties and older kids, this one's for you!

[This Package with your choice
of 2 Characters: $405.00]
</p>
<p>PLEASE NOTE: Additional travel fees may apply depending on party location.</p>
<h3>Special Party Packages:</h3>
<p>
Karaoke Parties:  sing a long, lipsync, freeze dancing, limbo & other age appropriate themed games.  Face painting & balloon twisting also available.
Hannah Montana
High School Musical
American Idol
</p>
<h3>Full Face Painting Parties:</h3>
<p>Fun 4 all Ages!</p>
<P>
Ideal for Birthdays, Weddings, Bat/Bar Mitzvahs, Co. Picnics, and schools
See the wonder in your child's face when they become their fantasy.  They can be anything from a superhero to a ferocious lion to a friendly dog or a beautiful princess.  Our face paints contain no harmful ingredients or chemical additives and are FDA approved.( washes off with soap and water).  Glitter is used where appropriate.
</P>
<h3>Glamour Make up Parties:</h3>
<p>glamour girl to apply simple makeup, age appropriate themed games and balloon twisting.</p>
<h3>Summer Pool Parties:</h3>
<p>Age appropriate pool games, water relays, noodle games, duck diving, paddle games, etc.  Balloon twisting. included.</p>
<h3>Seasonal Themed Parties:</h3>
<p>
Easter Bunny
Santa and Elves
And More!
</p>
<p>* Additional travel fee may apply</p>