<h1>Rent a costume for your party today</h1>
<p>You can now rent all of our cartoon characters, super-heroes, and princess costumes.  Do-it-yourself parties, grand openings, company events, Halloween, Christmas, and Easter, rent a costume for any occasion.</p>
<p>Weekend rentals range from $80 to $200.  Pick up your costume rental on Friday and return it on Monday of the following week.</p>
<p><%= link_to "Contact us", contact_path, :class => "book_party_button round" %> to reserve your costume.  You will need a valid credit card for reservation.  Pick up at our Party Animals location in San Diego, California.</p>